h1 {
    position: absolute;
    font-family: 'Slabo 27px', serif;
    font-size: 80px;
    font-weight: 100;
    margin: 0;
    vertical-align: middle;
    float: left;
    clear: left;
}


p, h2 {
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    font-weight: 100;
    margin: 0px;
    color: black;
}
h6 {
    font-weight: bold;
    font-style: oblique;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 0px 5px;
    left: inherit;
}
li {
    left: 15px;
}

a, button {
    font-family: 'Slabo 27px', serif;
    font-size: 35px;
    text-decoration: none;
    border: none;
    color: black;
    float: top;
}
a:visited: {}
a:hover,button:hover {
    color: grey;
    cursor: pointer;
}

button {
    background-color: white;
}

body {
    background-color:white;
    height: 1000px;
    
}

#container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#top_bar {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 0%;
    border-bottom: solid;
    border-bottom-color: black;
    overflow: hidden;
    text-overflow: hidden;
}
#top_bar a img {
    position: absolute;
    right: 0px;
    max-height: 80%;
    padding: 5px;
}

#middle_left {
    position: absolute;
    height: 900px;
    width: 15%;
    left: 0%;
    top: 105px;
}
#middle_left_menu {
    position: absolute;
    left: 10px;
    width: 100%;
}


#middle_right {
    position: absolute;
    height: 900px;
    width: 80%;
    left: 20%;
    top: 100px;
}
